body {
    margin: 0px;
}

.outer-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    width: 100%;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    max-width: 100%;
    min-width: 0;
    width: 0;
    align-items: stretch;
    flex: 1 1 auto;
    padding: 0;
}
