.header {
    display: flex;
    position: sticky;
    top: 0px;
    padding: 0px 44px 0px 44px;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.profile-name {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
}
