.sider-wrapper {
    position: sticky;
    height: 100vh;
    top: 0px;
    width: 340px;
    border-right: solid;
    border-right-color: #d1d1d1;
    border-right-width: 1px;
}

.sider-container {
    padding: 20px 40px 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.icon {
    width: 138px;
}

.options-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.option {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.option-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
}

.blue-color {
    color: #1f4bc0;
}

.gray-color {
    color: #5c5c5c;
}

.option-icon {
    width: 24px;
    height: 24px;
}

.link-underline {
    text-decoration: none;
}
