.login-form-create {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
    width: 100%;
    max-width: 700px;
    justify-content: center;
    padding: 40px 35px 40px 35px;
}

.exit-button {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.link-underline {
    text-decoration: none;
}
