.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 540px;
    justify-content: center;
    min-height: 100vh;
    min-height: 100dvh;
}

.icon-div {
    position: absolute;
    left: 60px;
    top: 40px;
}
